@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #101f30;
  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: #0f1724;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #0f1724;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: #0f1724;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Petrona;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #eeedf8;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #d99c17;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin-right: 10px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0px 10px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 91px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Cormorant SC;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0%;

  color: #cbc87b;
}

.home-text {
  font-family: Petrona;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  padding: 40px 0 304px;
}
.home__google-button_image {
  width: 256px;
  height: 64px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;
    padding: 120px 160px 0px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .home-title {
    font-family: Cormorant SC;
    font-weight: 700;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: 0%;

    width: 704px;
  }

  .home-text {
    font-family: Petrona;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 40px 0 160px;
  }
}
.about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 665px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Description.png");
}

.about-title {
  font-family: Cormorant SC;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;

  color: #cbc87b;
}

.about-text {
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding: 40px 0px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 160px 0;
    width: 1440px;
    height: 527px;
    background-image: url("/img/Game\ Description\ \(1\).png");
  }
  .about-title {
    font-family: Cormorant SC;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .about-text {
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 544px;
    padding: 80px 0px 0;
  }
}
.how {
  width: 375px;
  height: 945px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ Play.png");
}

.how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.how-item {
  border-bottom: 1px solid #afacc7;
  padding-bottom: 16px;
}

.how-text-bold {
  font-family: Petrona;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #cbc87b;
}
.how-text {
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 727px;
    padding: 80px 160px;
    background-image: url("/img/How\ to\ Play\ \(1\).png");
  }
  .how-list {
    padding: 80px 0 0 576px;
  }

  .how-text-bold {
    font-family: Petrona;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .how-text {
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.characters {
  padding: 40px 16px 0;
  margin: auto;
  width: 375px;
  height: 664px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/characters/Main\ Characters.png");
}

.characters-list {
  padding-top: 40px;
}
.characters-item {
  width: 327px;
  height: 501px;
  margin: 0 8px;
}
.characters-img {
  width: 327px;
  height: 306px;
}
.characters-text-bold {
  font-family: Petrona;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #cbc87b;
  padding: 32px 0 16px;
}
.characters-text {
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .characters {
    padding: 80px 160px 0px;
    width: 1440px;
    height: 817px;
    background-image: url("/img/characters/Main\ Characters\ \(1\).png");
  }
  .characters-list {
    padding-top: 80px;
  }
  .characters-item {
    width: 352px;
    height: 519px;

    margin: 0 16px;
  }
  .characters-img {
    width: 352px;
    height: 306px;
  }
  .characters-text-bold {
    font-family: Petrona;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .characters-text {
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.reviews {
  width: 375px;
  height: 481px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/User\ Reviews.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-list {
  padding: 40px 0 20px;
  width: 327px;
}
.reviews-item {
  margin: 0 8px;
  width: 327px;
  height: 163px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: #154164;
  border: 1px solid #cbc87b;
  box-shadow: 0px 0px 24px 0px #0f1e2e inset;
}

.reviews-text-bold {
  font-family: Petrona;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #cbc87b;
}
.reviews-text {
  font-family: Petrona;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 8px;
}
.reviews-text-bold-two {
  font-family: Petrona;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #cbc87b;
  padding-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 669px;
    padding: 80px 160px 0;
    background-image: url("/img/User\ Reviews\ \(1\).png");
  }
  .reviews-list {
    padding: 80px 0;
    width: 928px;
  }
  .reviews-item {
    margin: 0 16px;
    width: 448px;
    height: 151px;
    border-radius: 8px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
  }

  .reviews-text-bold {
    font-family: Petrona;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Petrona;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .reviews-text-bold-two {
    font-family: Petrona;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-bottom: 40px;
  }
}

.faq {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 814px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/FAQ.png");
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-item {
  border-bottom: 1px solid #afacc7;
  padding-bottom: 8px;
}

.faq-question {
  font-family: Petrona;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #cbc87b;
}

.faq-answer {
  padding-top: 4px;
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 160px;
    width: 1440px;
    height: 652px;
    background-image: url("/img/FAQ\ \(1\).png");
  }
  .faq-container {
    padding-top: 80px;
    width: 544px;
  }

  .faq-question {
    font-family: Petrona;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;
  height: 347px;
  margin: auto;
  padding: 40px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/Gallery.png");
}

.gallery__list {
  padding-top: 40px;
}
.gallery__item {
  width: 327.111083984375px;
  height: 184px;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-dots {
  display: none;
}
.slick-dots li {
  display: none;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 848px;

    padding: 80px 160px 0;
    background-image: url("/img/gallery/Gallery\ \(1\).png");
  }

  .gallery__item {
    width: 928px;
    height: 522px;

    margin: 0 10px;
  }

  .gallery__list {
    width: 928px;
    margin: auto;
    padding: 80px 0 16px;
  }
  .slick-prev:before {
    content: url("/img/gallery/Polygon\ 353.png");
    display: flex;
    margin-left: -40px;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/gallery/Polygon\ 353\ \(1\).png");
    display: flex;
    margin-left: 60px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .slick-dots li {
    list-style: none;
    width: 12px;
    height: 12px;
    display: inline-block;
  }

  .slick-dots li button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/img/gallery/Pagination\ Dot\ \(1\).png") no-repeat
      center/cover;

    padding: 0;
    font-size: 0;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li.slick-active button {
    background: url("/img/gallery/Pagination\ Dot.png") no-repeat center/cover;
  }
}
.features {
  width: 375px;
  height: 1468px;
  margin: auto;
  background-image: url("/img/features/Feature\ Keys.png");
  padding: 40px 16px 0px;
}

.features-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.features-img {
  width: 343px;
  height: 159.5202178955078px;
}
.features-text-bold {
  font-family: Petrona;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 16px 0 4px;
  color: #cbc87b;
}
.features-text {
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 1368px;
    background-image: url("/img/features/Feature\ Keys\ \(1\).png");
    padding: 80px 160px 0px;
  }
  .features-list {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .features-item {
    width: 544px;
    height: 330px;
  }
  .features-img {
    width: 544px;
    height: 253px;
  }
  .features-text-bold {
    font-family: Petrona;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.footer {
  background: #0f1724;

  color: #eeedf8;
  padding: 40px 72px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: #eeedf8;
}

.footer-copyright {
  font-family: Petrona;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    margin: auto;
  }

  .footer-text {
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer-copyright {
    font-family: Petrona;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 120px 16px 40px;
}
.policy-terms-title {
  text-transform: uppercase;
  font-family: Cormorant SC;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #cbc87b;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Petrona;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-text-one {
  padding-top: 20px;
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Petrona;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 180px 160px 80px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-title {
    font-family: Cormorant SC;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Petrona;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .policy-terms-texts {
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    padding-top: 30px;
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .terms-lists {
    list-style-type: disc;
    padding-left: 25px;
    font-family: Petrona;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 32px;
  background: #101f30;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Petrona;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #f1eee9;
}
.cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  width: 256px;

  border-radius: 28px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border: 1px solid #eeedf8;
  font-family: Petrona;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #eeedf8;
}
#accept-cookies {
  background: #eeedf8;
  color: #0f1724;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 648px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
